/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            bindings = <
&kp ESCAPE        &kp 1         &kp 2         &kp 3      &kp 4  &kp 5
&kp ESCAPE        &kp Q         &kp W         &kp E      &kp R  &kp T
&kp TAB           &kp A         &kp S         &kp D      &kp F  &kp G
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C      &kp V  &kp B
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &kp SPACE  &kp SPACE
            >;  

        };
    };
};
