/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&kp ESCAPE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5        &kp UP
&tog 0      &kp C_PREV    &kp C_PP      &kp C_NEXT    &mo 0         &kp C_VOL_DN  &kp UP
&tog 0      &kp C_PREV    &kp C_PP      &kp C_NEXT    &mo 0         &kp C_VOL_DN  &kp UP
&tog 0      &kp C_PREV    &kp C_PP      &kp C_NEXT    &mo 0         &kp C_VOL_DN  &kp UP
&tog 0      &kp C_PREV    &kp C_PP      &kp C_NEXT    &mo 0
            >;
        };
    };
};
